<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <!-- If not logged in, show sign up button-->
    <% if (!user) { %>
    <form action="/signUp" method="get">
      <button type="submit">Sign Up</button>
    </form>
    <!-- If not logged in, show login button-->
    <% } %> <% if (!user) { %>
    <button id="loginButton">Log In</button>
    <div id="loginPopup">
      <form action="/logIn" method="post" id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Log In</button>
        <!-- Cancel Button-->
        <button type="button" id="closeButton">Cancel</button>
      </form>
    </div>
    <% } %>

    <!-- Log In Attempt Messages -->
    <% if (loginFeedback && loginFeedback.length > 0) { %>
    <div class="error"><%= loginFeedback[0] %></div>
    <% } %>

    <!-- If logged in, show buttons to log out, add message, & become a member-->
    <% if (user) { %>
    <form action="/logOut" method="get">
      <button type="submit">Log Out</button>
    </form>
    <form action="addMessage" method="post">
      <input type="text" name="title" placeholder="Title" required />
      <br />
      <textarea name="text" placeholder="Message" required></textarea>
      <br />
      <button type="submit">Submit Message</button>
    </form>
    <form action="/secret" method="get">
      <button type="submit">Membership Page</button>
    </form>
    <% } %>

    <!-- Show all messages, but only reveal author and date to members.-->
    <h2>Messages:</h2>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <% if (user && user.membership_status === true ) { %>
        <p>Author: <%= message.username %></p>
        <p>Title: <%= message.title %></p>
        <p>Date: <%= message.timestamp %></p>
        <!-- Allow Admins to delete messages -->
        <% } else {%>
        <p>Author: [Members Only]</p>
        <p>Title: <%= message.title %></p>
        <p>Date: [Members Only]</p>
        <% } %>
        <p><%= message.text %></p>
        <% if (user && user.admin_status === true) { %>
        <form action="/deleteMessage/<%= message.id %>" method="post">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </li>
      <% }); %>
    </ul>
    <!-- Footer -->
    <%- include('footer'); %>

    <!-- script -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
